#header{
    background: url("https://images.unsplash.com/photo-1567095729887-be88016c9d75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    color: white;
    background-position: center;
}
.bg-dark{
    background-color: black;
}

button[class="btn btn-success"]{
    background-color: #d48739;
    border-color: #d48739;
    color: white;
}

button[class="btn btn-info"]{
    background-color: #a2522e;
    border-color: #a2522e;
    color: white;
}